<div style="border: 3px dotted red">
	<% if @visitor %>
		<h1>OH HAI <%= @visitor %>!</h1>
	<% end %>
	<% if @name %>
		<h1>ZOMG! MY NAEM IZ <%= @name %>!!</h1>
	<% end %>
	<img src="http://bit.ly/1eze8aE" />
</div>
